.bodyActivity {
    background-color: white;
    display: flex;
    flex-direction: column; /* Cambiado a columna para mejorar el diseño en pantallas pequeñas */
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 1em;
    border-radius: 0.5em;
    width: calc(33.33% - 2em); /* Cambiado a 33.33% para tres columnas en pantallas grandes */
    font-size: larger;
    box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.34);
    min-height: 20em;
}

.image {
    width: 100%;
    height: auto; /* Cambiado a auto para mantener la proporción */
    display: grid;
    justify-items: center;
    align-items: center;
}

.info {
    width: 100%;
    height: auto; /* Cambiado a auto para que se ajuste al contenido */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bodyActivity img {
    max-width: 95%;
    max-height: 15em;
    border-radius: 0.5em;
    padding: 0.5em;
}

.bodyActivity p {
    text-decoration: none;
    color: black;
}

.bodyActivity a {
    text-decoration: none;
    color: black;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .bodyActivity {
        width: 100%; /* Hace que cada actividad ocupe el 100% en pantallas pequeñas */
        margin: 0.5em 0; /* Reduce el margen en pantallas pequeñas */
    }

    .bodyActivity img {
        max-height: 10em;
        width: auto;
    }
}
