.container {
    min-height: 80vh;
    display: grid;
    align-items: center;
    margin: 1.5em;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin: auto auto;
}

.formContainer input, 
.formContainer textarea {
    width: 100%;
    padding: 0.8em;
    margin: 0.8em 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formContainer input[type="file"] {
    padding: 0;
}

.formContainer img {
    margin-top: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.button a, 
.button button {
    padding: 0.8em;
    background-color: rgb(219, 182, 19);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button a:hover, 
.button button:hover {
    background-color: rgb(192, 160, 16);
}

.formContainer p {
    margin-top: 1em;
}
