.mapContainer {
    position: relative;
    width: 100%;
    max-width: 10em;
    height: auto;
    /* Ajusta el tamaño máximo */
    padding: 0 0;
    margin: 0 0;
    display: grid;
    justify-items: center;

}

.map {
    width: 200%;
    height: auto;
}

.province {
    fill: #a0a0a0;
    /* Color por defecto */
    cursor: pointer;
    transition: fill 0.3s ease;
}

.province:hover {
    fill: #0356c2;
    /* Color al pasar el mouse */
}

.active {
    fill: #081D3A;
    /* Color al hacer clic */
}

.provinceInfo {
    position: absolute; 
    background: rgba(255, 255, 255, 0.8);
    right: 0.5em;
    top: 0.5em;
    padding: 0.2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.provinceInfo p{
    color:#081D3A;
    font-size: small;
}