.bodyfilter {
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    font-size: large;
    min-height: 80vh;
    padding: 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filters {
    border-radius: 0.5em;
    padding: 0.5em;
} 

.filters p {
    color: #081D3A;
    font-size: medium;
}

.bodyfilter p {
    font-weight: bold;
    margin-bottom: 10px;
}

.bodyfilter select,
.bodyfilter button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bodyfilter button {
    background-color: rgb(219, 182, 19);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.bodyfilter button:hover {
    background-color: rgb(192, 160, 16);
}

.map {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.bodyfilter input[type="date"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #333;
    text-align: center;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .bodyfilter {
        font-size: medium; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }

    .bodyfilter input[type="date"],
    .bodyfilter select,
    .bodyfilter button {
        width: 90%; /* Aumenta el ancho para pantallas pequeñas */
    }
}

