.bodyAct {
    margin: 0;
    padding: 0;
}

.bodyActivities {
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 0.5em;
    gap: 2em;
    flex-wrap: wrap; /* Permite que el contenedor se ajuste en pantallas más pequeñas */
}

.activities {
    min-height: 80vh;
    border-radius: 10px;
    width: 100%; /* Cambiado a 100% para móviles */
    max-width: 1200px; /* Ancho máximo para pantallas grandes */
}

.conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.conteinerloader {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #e2e2e2; /* Light grey */
    border-top: 16px solid #081D3A; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (min-width: 1024px) {
    .bodyActivities {
        flex-direction: row;
    }
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .bodyActivities {
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
        gap: 1em; /* Reduce el espacio entre elementos */
    }

    .activities {
        width: 90%; /* Aumenta el ancho para pantallas pequeñas */
    }
}
