.homeConteiner {
    margin: 0;
    padding: 0;
}

.body {

    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

/* Video */
.video {
    background-color: rebeccapurple;
    margin-top: 5em;
    margin-bottom: 2.5em;
    min-height: 40vh;
    width: 80%;
    max-width: 900px;
    border-radius: 2em;
}

/* opciones institucion */
.opcionesInst {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    max-width: 900px;
    gap: 1.5em;
    margin: 2em 0;
}

.opcionesInst div {
    flex: 1 1 calc(50% - 1em);
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .opcionesInst div {
        flex: 1 1 calc(25% - 1em);
    }
}

/* Imgen introduccion */
.imgInst {
    margin: 2.5em 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.imgInst img {
    width: 80%;
    max-width: 900px;
    border-radius: 2em;
}

/* links */
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 182, 19);
    width: 100%;
    max-width: 10em;
    padding: 0.5em;
    font-size: large;
    text-decoration: none;
    color: white;
    box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.34);
    border-radius: 0.5em;
    text-align: center;
}

@media (min-width: 768px) {
    .link {
        font-size: x-large;
        padding: 0.8em 0.3em;
    }
}